.nav-link {
    display: inline-block;
    background-color: black;
    color: white !important;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-link:hover {
    color: white !important;
    text-decoration: none;
}


nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

.nav-link:focus,
.nav-link:hover {
    text-decoration: underline;
    color: white !important;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    .nav-link {
        margin-bottom: 10px;
    }

    .nav-button {
        color: grey;
        background-color: black;
        padding: 10px 30px;
        text-decoration: none;

    }

    .disappear {
        display: none;
    }
}

@media (min-width: 768px) {
    .nav-button {
        display: none;
    }
}